.topnav
{
    background-color: #333;
    overflow: hidden;
    color: #D3D3D3;

}

.topnav a
{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    float: right;
    text-align: right;
    padding: 14px;
    text-decoration: none;
}

.topnav a.active
{
    background-color: #AED9E0;
    color: #0f4c5c;
}

.topnav:hover 
{
    color: #0f4c5c; 
    display: block;
    text-decoration: none;
} 

.topnav-items
{
    color: white;
}

.topnav-items:hover
{
    color: white;
    background-color: #0f4c5c;
    display: block;
}

.general_links
{
    color: blue;
}

.general_links:hover
{   
    color: purple;
    text-decoration: none;
}

body
{
    background-color: #FAF9F9;
    font-family: Montserrat, Arial, Sans Serif;
}

.main
{
    width: 90%;
}

footer
{
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    background-color: #bee3db;
    color: #0f4c5c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.footer_text
{
    text-align: center;
}

.heading-format
{
    color: #0f4c5c;
    font-family: Montserrat, Arial, Sans Serif;
    padding-top: 10px;
    padding-bottom: 1%;
}

p
{
    line-height: 1.8;
    font-size: 18px;
}

.text_justify {text-align: justify;}

i
{
    color: #0081a7;
    text-decoration: none;
    font-size: 30px;
}

i:hover
{
    color: #0f4c5c; 
    text-decoration: none;
}

/* img
{
    height:30%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 0%;
    padding: 10px;
} */

.lords_img_settings {width: 100%;}

.memoir_img_settings {width: 100%;}

.image-blurred-edge
{
    /* box-shadow: 10px 8px,  white inset; */
    border-color: aquamarine;
}

.center {
    display: block;
    margin-left: auto;    
    margin-right: auto;
    width: 50%;
}

.center_heading {
    text-align: center;
}

.list-group-item:hover
{
    background-color: #cbf3f0;
    font-size: 18px;
}

ol
{
    font-size: 18px;
}

li
{
    font-size: 18px;
    padding-bottom: 15px;
}

.w-100 {
    width: 100% !important;
    height: 100%;
  }

.card
{
    /* max-width: 300px; */
    margin: 0;
    text-align: center;
    border: none;
}

button
{
    font: bold 20px Arial; 
    text-decoration: none;
    padding: 1px 4px 1px 4px; 
    border: 1px solid red; 
    color: white;
}

button:hover
{
    color: white;
    text-decoration: none;
}


/* .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #cbf3f0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card button:hover {
    color: white;
    background-color: #167891;
  } */

.image-box
{
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

.figure-img
{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

figcaption
{
    text-align: center;
    color: #0f4c5c;
    font-size: 20px;
    padding: 10px;
}

.card-text
{
    padding: 10px;
}



.darknet-diaries_button
{
    border: none;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 3px;
}

.darknet-diaries_button:visited
{
    outline-color: black;
}

.darknet-diaries_button:hover {
    color: red;
    background-color: black;
    text-decoration: none;
}

hr
{
    width: 100%;
    border-color: rgb(200,200, 200);
}

.heading-br {width: 30%;}

.accordion-styling
{
    color: black;
}

.button {
    color: black;
    text-decoration: none;
    background-color: #cbf3f0;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    display: block;
    width: 100%;
    padding: 15px;
    font-weight: 400;
}

.button:focus {
    color: white;
    background-color: #0f4c5c;
}

.button:hover {
    color: white;
    background-color: #0f4c5c;
    text-decoration: none;
    cursor: pointer;
}

.btn_outline_info {
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn_outline_info:focus {
    border: 1px solid #0f4c5c;
}

.btn_outline_info:hover {
    border: 1px solid transparent;
    box-shadow: none;
}


.button-link {
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-link a {
    color: #0f4c5c;
    text-decoration: none;
    
    /* margin: auto; */
}

.button-link button:hover {
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

.button-link a:hover {
    color: white;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    i {
        color: #0081a7;
        text-decoration: none;
        font-size: 20px;
    }

    .darknet-diaries
    {
        border: none;
        padding: 5px;
        background-color: black;
    }

    .topnav a {
        font-size: 12px;
        padding: 12px;
        text-decoration: none;
    }
}

.contact-icons
{
    text-align: center;
}

.w3css_confirmation {
    border:0;
    width:88px;
    height:31px;
    margin-left: auto;
    margin-right: auto;
}