p
{
    line-height: 1.8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .body_padding
{
    padding-left: 10px;
    padding-right: 10px;
} */

h1
{
    text-align: center;
    padding: 10px;
    color: #0f4c5c;
    
}

body
{
    background-color: #FAF9F9;
    /* margin-left: 10px; */
    text-align: justify;
}

.topnav
{
    /* height: 100%; */
    background-color: #333;
    overflow: hidden;
    /* margin: 0; */
    /* padding: 0; */
}

.topnav a
{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5E6472;
    display: block;
    float: right;
    text-align: right;
    padding: 14px;
    text-decoration: none;
}

.topnav a:hover 
{
    color: #0f4c5c; 
    background-color: #5E6472;
} 

.topnav a.active
{
    background-color: #AED9E0;
}

.main
{
    margin-left: 150px; 
    margin-right: 150px;
    /* padding: 0px 10px; */
    font-family: Arial, Helvetica, sans-serif;
}

footer
{
    /* margin-left: 0px;  */
    /* left: 0px; */
    padding-bottom: 20px;
    width: 100%;
    background-color: #bee3db;
    color: #0f4c5c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* .footer_author
{
    position: relative;
} */

i
{
    color: #0081a7;
    text-decoration: none;
    font-size: 30px;
}

i:hover
{
    color: #0f4c5c; 
    text-decoration: none;
}

img
{
    height:30%;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 0%;
    padding: 10px;
}

.image-blurred-edge
{
    box-shadow: 10px 8px,  white inset;
    border-color: aquamarine;
}

.center
{
    display: block;
    margin-left: auto;    
    margin-right: auto;
    width: 50%;
}


/* 
iframe
{
    width: 400;
    height: 200;
} */